body {
  background: linear-gradient(90deg, rgb(230, 72, 238) 0%, rgb(89, 162, 245) 100%);  
  margin: 0;
  font-family: "Courier New", Courier, monospaces;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
